/* I also import these in index.js - TODO: make one place for all css imports; */
@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
	background-color: #79b3e6;
	font-family: 'Eczar', serif;
}

.bf-button {
	border: none;
	text-align: center;
	color: #2d3335;
	text-decoration: none;
	background-color: #ffffff;
	/*none|h-shadow v-shadow blur spread color |inset|initial|inherit;*/
	box-shadow: 1px 1px 12px #888888;
	font: inherit;
	cursor: pointer;
}

.bf-input {
	font-family: 'Eczar', serif;
	padding-top: 4px;
	margin-left: 10px;
}

.bf-input:focus {   
	outline: 0 none;
}

.bf-input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

/*mobile*/
@media (max-width: 500px) {
	.bf-input-container {
		font-size: 4vw;
	}

	.bf-input {
		font-size: 4vw;
	}
}

/*desktop*/
@media (min-width: 500px) {
	.bf-input {
		font-size: 18px;
	}
}