.page {
   height: 600px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.boggle-input-area {
   margin-right: 100px;
}

.boggle-input {
   margin-top: 100px;
}

.boggle-row {
   text-align: center;
}

.boggle-tile {
   border: black solid 1px;
   background-color: white;
   display: inline-block;
   height: 57px;
   line-height: 57px;
   width: 57px;
   border-radius: 4px;
}

.boggle-board {
   border: 7px solid orange;
   border-radius: 12px;
   background-color: orange;
}
