img {
	max-width: 100%;
	margin: 0 auto;
	margin-top: 96px;
	display: block;
	opacity: 1;
}

img:after {
	box-shadow: inset 0 0 40px 16px;
}

#welcome-to {
	margin-top: 111px;
	font-size: 23px;
}

#the-promenade {
	font-size: 47px;
}

.words-of-interest {
	/*position: absolute;*/
	text-align: center;
}


.nav-bar {
	text-align: left;
	color: black;
	font-size: 22px;
	margin-top: 21px;
	margin-bottom: 5px;
}

.divider {
	height: 1px;
	width: 86%;
	margin: 0 auto;
	background: #ececec;
	margin-bottom: 41px;

	/*kind of a hack to make 2 columns, see the other below*/
	/*really I should make the top border of the game menu be this divider*/
	max-width: 550px;
}

.game-menu-container {
	display: flex;
	flex-direction: column;
}

.game-menu {
	max-width: 550px; /*kind of a hack to make 2 columns*/
	display: flex;
	justify-content: center;  
	margin: 0 auto;
	flex-wrap: wrap;
}

.game-tile {
	display: inline-block;
}

/*mobile*/
@media (max-width: 500px) {
	.bf-button.game-tile {
		width: 55%;
		padding: 16% 0;
		font-size: 6vw;
		margin: 16% 50px;   
	}
}

/*desktop*/
@media (min-width: 500px) {
	.bf-button.game-tile {
		width: 175px;
		padding: 9% 0;
		font-size: 21px;
		margin: 47px 50px;
	}
}