.game-logo {
   text-align: center;
   margin-top: 100px;
   margin-bottom: 50px;
   font-size: 20px;
}

.room-config-section {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.game-config-button-vertical {
   height: 62px;
   width: 215px;
   margin-bottom: 33px;
}

.room-section-button-row {
   display: flex;
   justify-content: center;   
   width: 100%;
}

.game-config-button-horizontal {
   margin: 0 27px;
   height: 42px;
   width: 111px;
}

a.game-config-button-horizontal {
   line-height: 45px;
}

.host-config-section .bf-input-container {
   margin-bottom: 40px;
}